pipeline/pl_ingest_population.json
{
	"name": "pl_ingest_population",
	"properties": {
		"activities": [
			{
				"name": "Check if File exists",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_population_raw_gz",
						"type": "DatasetReference"
					},
					"timeout": "1.00:00:00",
					"sleep": 10,
					"minimumSize": 2000
				}
			},
			{
				"name": "Get Metadata of file",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Check if File exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_population_raw_gz",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount",
						"exists",
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Check count of column name",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata of file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Metadata of file').output.columnCount,13)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data from blob to ADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "indic_de,geo\\time",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "indic_de,geo\\time",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2008 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2008 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2009 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2009 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2010 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2010 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2011 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2011 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2012 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2012 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2013 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2013 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2014 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2014 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2015 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2015 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2016 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2016 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2017 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2017 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2018 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2018 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2019 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2019 ",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_population_raw_gz",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_population_adls",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Delete the parent file",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy data from blob to ADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_population_raw_gz",
									"type": "DatasetReference"
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-05-26T04:49:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}